* {
    margin: 0;
    padding: 0;
    background-color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-bar {
    color: white;
    margin-top: 40px;
}

.nav-bar ul li {
    display: inline-block;
    list-style-type: none;
    padding: 20px 80px;
    color: white;
}

.nav-bar img {
    width: 100px;
}

.logo {
    text-align: end;
    margin-right: 35px;
}

.nav-bar ul {
    margin-top: 50px;
}

.main-text {
    margin-top: 50%;
    text-align: center;
}

.main-text a {
    color: white;
    text-decoration: none;
}

.socials {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.socials img {
    margin-right: 20px;
    width: 18px;
    
}
