@font-face {
    font-family: Barlow-Light;
    src: url(fonts/Barlow/Barlow-Light.ttf);
}

@font-face {
    font-family: Barlow-Bold;
    src: url(fonts/Barlow/Barlow-Bold.ttf);
}

@font-face {
    font-family: Barlow-Black;
    src: url(fonts/Barlow/Barlow-Black.ttf);
}

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;;
}

.nav-bar {
    color: white;
    margin-top: 50px;
}

.nav-bar ul li {
    display: inline-block;
    list-style-type: none;
    padding: 20px 80px;
    color: white;
    font-family: Barlow-Bold;
    font-size: 15px;
    text-decoration: none;
    m
}

.nav-bar img {
    width: 100px;
}

.logo {
    text-align: end;
    margin-right: 35px;
}

.nav-bar ul {
    margin-top: 50px;
}

.main-text {
    text-align: center;
    margin-top: 50%;
}

.main-text p {
    font-family: Barlow-Light;
    margin-bottom: 50px;
    font-size: 15px;

}

.main-text a, .main-text p span{
    color: white;
    text-decoration: none;
    font-family: Barlow-Bold;
    font-size: 15px;
}

.socials {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.socials img {
    margin-right: 20px;
    width: 18px;

}
