@font-face {
    font-family: Barlow-Light;
    src: url(fonts/Barlow/Barlow-Light.ttf);
}

@font-face {
    font-family: Barlow-Bold;
    src: url(fonts/Barlow/Barlow-Bold.ttf);
}

@font-face {
    font-family: Staatliches-R;
    src: url(fonts/Staatliches/Staatliches-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    background-color: #1B1B1B;

}

.content {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
}

.content img:nth-child(1) {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/**


.content img:nth-child(2) {
    position: absolute;
    background: none;
    opacity: 70%;
}


**/

.content img:nth-child(2) {
    position: absolute;
    background: none;
    opacity: 70%;
    top: 2em;
    left: 2em;

}

.content h1 {
    position: absolute;
    font-family: Staatliches-R;
    color: #A7A7A7;
    font-size: 32px;
    bottom: 2.7em;
    right: 1em;
    background: none;
}

.btn {
    position: absolute;
    bottom: 30px;
    right: 1.5em;
    background: #C4C4C4;
    color: #393939;
    font-family: Staatliches-R;
    width: 40%;
    text-decoration: none;
    cursor: pointer;
    height: 40px;
    font-size: 20px;
    border: none;
}

.btn:hover {
    background: none;
    color: #C4C4C4;
    text-decoration: none;
    border: solid #C4C4C4;
    2px;
}


/**
@media only screen and (min-width: 320px) and (max-width: 568px) {
    
    .content h1 {
        font-size: 26px;
        margin-bottom: 5px;
    }
    
    .btn {
        height: 35px;
        font-size: 16px;
    }
}
**/
